@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  background-color: rgb(66, 66, 66);
  color: aliceblue;
  font-family: Poppins;
  text-decoration: none;
  list-style-type: none;
}

.App {
  background-color: rgb(66, 66, 66);
  color: rgb(248, 248, 248);
}

.headerDiv {
  text-align: center;
  padding: 20px;
}
.headerDiv a {
  text-decoration: none;
}

.headerDiv__h1 {
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(255, 75, 216);
  font-size: 5rem;
  margin-block: auto;
}

.headerDiv__h3 {
  margin-block: auto;
}

a {
  color: rgb(248, 248, 248);
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background-color: rgb(83, 83, 83);
  border-color: rgb(255, 75, 216);
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
}

.loadingMessage {
  text-align: center;
  font-size: 2rem;
}

.errorMessage {
  margin-top: 8rem;
  text-align: center;
}

.commentSection__list {
  padding: 0;
}

.articleList {
  padding: 0;
  width: 80vw;
  margin-left: 1rem;
}

.topicList {
  padding: 0;
  width: 80vw;
  margin-left: 1rem;
}

.articleList__header {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.articleCard {
  border: solid rgb(255, 75, 216) 2px;
  list-style-type: none;
  margin: 20px 5px 20px 5px;
  padding: 0.5rem;
  border-radius: 0 30px 30px 30px;
}

.topicCard {
  border: solid rgb(255, 75, 216) 2px;
  margin: 20px 5px 20px 5px;
  padding: 0.5rem;
  border-radius: 0 30px 30px 30px;
  list-style-type: none;
}

.individualArticle {
  margin: 1rem;
}

.individualArticle__warning {
  text-align: center;
}

.commentCard {
  border: solid rgb(255, 75, 216) 2px;
  list-style-type: none;
  margin: 10px 10px 15px 10px;
  padding: 0.5rem;
  border-radius: 0 30px 30px 30px;
}

.articles__sortbar {
  margin: 1rem;
  text-align: justify;
  padding: 0 4rem 0 4rem;
}

.topicHeader {
  text-align: center;
}

.userProfile__picture {
  height: 10rem;
  width: 10rem;
  border-radius: 40px;
  margin-top: 2rem;
  border: solid rgb(255, 75, 216) 2px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
